<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1 class="m-0">Geral</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <% if(totalStock>0) { %> 
                <h3><%= totalStock %></h3>
                <% }else{ %> 
                <h3>0</h3>
                <% } %> 

                <p>Estoque</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-boxes"></i>
              </div>
              <a href="/items" class="small-box-footer">Mais <i class="fa-solid fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <% if(totalamountII>0) { %> 
                <h3><%= totalamountII %></h3>
                <% }else{ %> 
                <h3>0</h3>
                <% } %> 

                <p>Entrada</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-box"></i>
              </div>
              <a href="/itemsIncoming" class="small-box-footer">Mais <i class="fa-solid fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <% if(totalamountIW>0) { %> 
                <h3><%= totalamountIW %></h3>
                <% }else{ %> 
                <h3>0</h3>
                <% } %> 

                <p>Retirada</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-box-open"></i>
              </div>
              <a href="/itemsWithdrawal" class="small-box-footer">Mais <i class="fa-solid fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <% if(typeof locals.user != 'undefined') { %>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <% if(totalUsers>0) { %> 
                <h3><%= totalUsers %></h3>
                <% }else{ %>
                <h3>0</h3> 
                <% } %> 

                <p>Usuários</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-users"></i>
              </div>
              <a href="/users" class="small-box-footer">Mais <i class="fa-solid fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <% } %> 
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
<%- include('./partials/footer') %> 