<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1>Estoque</h1>
          </div>
          <div class="col-sm-6">
            <div id="bt" class="float-sm-right">
              <div class="dt-buttons btn-group flex-wrap">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
                  <i class="fa-solid fa-plus"></i>
                  Adicionar item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <% if(typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %> 
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= error.msg %> 
            </div>
            <% }) %> 
            <% } %> 
            <div class="card">
              <div class="card-body">
                <table id="stockItems" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Código</th>
                      <th>Imagem</th>
                      <th>Nome</th>
                      <th>Descrição</th>
                      <th>Quantidade</th>
                      <th>Entrada</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% items.forEach((element, index)=> { %>
                    <tr>
                      <td><%= index+1%></td>
                      <td><%= element.codeitems %></td>
                      <td><img src="/uploads/<%= element.image %>" class="zoomable"></td>
                      <td><%= element.nameitems %></td>
                      <td><%= element.description %></td>
                      <td><%= element.stock %></td>
                      <td><%= element.input %></td>
                      <td>
                        <a class="btn btn-info btn-sm" href="/items/<%= element.iditems %>" role="button"><i class="fa-solid fa-eye"></i></a>
                        <% if(typeof locals.user != 'undefined') { %> 
                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#edit<%= element.iditems %>">
                          <i class="fa-solid fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete<%= element.iditems %>">
                          <i class="fa-solid fa-trash-alt"></i>
                        </button>
                        <% } %> 
                        <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#printqr<%= element.iditems %>">
                          <i class='fa-solid fa-qrcode'></i>
                        </button>
                      </td>
                    </tr>

                    <!-- Edit Modal -->
                    <div class="modal fade" id="edit<%= element.iditems %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Editar Item</h4>
                            <button type="button" class="close" onclick="$('#edit<%= element.iditems %>').modal('hide');">&times;</button>
                          </div>
                          <!-- Modal body -->
                          <form action="/items/update/<%= element.iditems %>?_method=put" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                              <input type="hidden" name="oldcode" required value="<%= element.oldcode || element.codeitems %>"/>
                              <input type="hidden" name="oldNama" required value="<%= element.oldNama || element.nameitems %>"/>
                              <input type="hidden" name="iditems" required value="<%= element.iditems %>"/>
                              <input type="hidden" name="image" required value="<%= element.image %>"/>
                              <div class="form-group">
                                <label for="codeitems">Código</label>
                                <input type="text" name="codeitems" class="form-control" required value="<%= element.codeitems %>" />
                              </div>
                              <div class="form-group">
                                <label for="nameitems">Nome</label>
                                <input type="text" name="nameitems" class="form-control"  required value="<%= element.nameitems %>" />
                              </div>
                              <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea name="description" class="form-control" rows="2" required><%= element.description %></textarea>
                              </div>
                              <div class="form-group">
                                <label for="stock">Quantidade</label>
                                <input type="number" name="stock" class="form-control" min="0" required value="<%= element.stock %>" />
                              </div>
                              <div class="form-group">
                                <label for="image">Imagem</label>
                                <input type="file" name="image" accept="image/png, image/jpeg" class="form-control-file" />
                                <small class="form-text text-muted">Máximo: 10MB</small>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary mb-2">Salvar</button>
                              <button type="button" class="btn btn-secondary" onclick="$('#edit<%= element.iditems %>').modal('hide');">Cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Delete Modal -->
                    <div class="modal fade" id="delete<%= element.iditems %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Deletar Item</h4>
                            <button type="button" class="close" onclick="$('#delete<%= element.iditems %>').modal('hide');">&times;</button>
                          </div>
                          <!-- Modal body -->
                          <form action="/items/delete/<%= element.iditems %>" method="post">
                            <div class="modal-body">
                              Você tem certeza que deseja deletar o item <%= element.nameitems %>?
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-danger">Sim</button>
                              <button type="button" class="btn btn-secondary" onclick="$('#delete<%= element.iditems %>').modal('hide');">Cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <!-- Print QR Code Modal -->
                    <div class="modal fade" id="printqr<%= element.iditems %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Imprimir QRCode</h4>
                            <button type="button" class="close" onclick="$('#printqr<%= element.iditems %>').modal('hide');">&times;</button>
                          </div>
                          <!-- Modal body -->
                          <div class="modal-body">
                            <div class="d-flex justify-content-center">
                              <b><%= element.codeitems %> - <%= element.nameitems %></b>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                              <img src="/uploads/<%= element.codeitems %>.png">
                            </div>
                            <div class="form-group">
                              <label for="qrSize">Tamanho (largura x altura em cm)</label>
                              <div class="input-group">
                                <input id="qrWidth<%= element.iditems %>" type="number" class="form-control" name="qrWidth" placeholder="Largura (cm)" step="0.01" value="2"  min="0.01" oninput="checkSizeValue(this)" />
                                <div class="input-group-prepend input-group-append">
                                  <span class="input-group-text">x</span>
                                </div>
                                <input id="qrHeight<%= element.iditems %>" type="number" class="form-control" name="qrHeight" placeholder="Altura (cm)" step="0.01" value="2" min="0.01" oninput="checkSizeValue(this)" />
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="qrAmount">Quantidade</label>
                              <input id="qrAmount<%= element.iditems %>" type="number" class="form-control" name="qrAmount" value="1" min="1" oninput="checkAmountValue(this)" />
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="PrintImage('/uploads/<%= element.codeitems %>.png','<%= element.iditems %>', '<%= element.codeitems %> - <%= element.nameitems %>'); return false;">Imprimir</button>
                            <button type="button" class="btn btn-secondary" onclick="$('#printqr<%= element.iditems %>').modal('hide');">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Add Modal -->
    <div class="modal fade" id="add">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Adicionar Item</h4>
            <button type="button" class="close" onclick="$('#add').modal('hide');">&times;</button>
          </div>
          <!-- Modal body -->
          <form action="/items" method="post" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="form-group">
                <label for="codeitems">Código</label>
                <input type="text" name="codeitems" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="nameitems">Nome</label>
                <input type="text" name="nameitems" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="description">Descrição</label>
                <textarea name="description" class="form-control" rows="2" required></textarea>
              </div>
              <div class="form-group">
                <label for="stock">Quantidade</label>
                <input type="number" name="stock" class="form-control" min="1" required />
              </div>
              <div class="form-group">
                <label for="image">Imagem</label>
                <input type="file" name="image" accept="image/png, image/jpeg" class="form-control-file" required />
                <small class="form-text text-muted">Máximo: 10MB</small>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-secondary" onclick="$('#add').modal('hide');">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<%- include('./partials/footer') %> 