<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1>Retirada de Items</h1>
          </div>
          <div class="col-sm-6">
            <div id="bt" class="float-sm-right">
              <div class="dt-buttons btn-group flex-wrap">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
                  <i class="fa-solid fa-plus"></i>
                  Adicionar Retirada de Item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <% if(typeof error != 'undefined'){ %> 
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= error %> 
            </div>
            <% } %> 
            <div class="card">
              <div class="card-body">
                <table id="itemsWithdrawal" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Data</th>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Quantidade</th>
                      <th>Recebedor</th>
                      <th>Entrada</th>
                      <% if(typeof locals.user != 'undefined') { %>
                      <th>Ações</th>
                      <% } %> 
                    </tr>
                  </thead>
                  <tbody>
                    <% itemsw.forEach((element, index)=> { %>
                    <tr>
                      <td><%= index+1%></td>
                      <td><%= moment(element.date).locale('id').format('DD-MM-YYYY HH:mm:ss') %></td>
                      <td><%= element.codeitems_k %></td>
                      <td><%= element.nameitems_k %></td>
                      <td><%= element.amount %></td>
                      <td><%= element.receiver %></td>
                      <td><%= element.input %></td>
                      <% if(typeof locals.user != 'undefined') { %>
                      <td>
                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#edit<%= element.idwithdrawal %>">
                          <i class="fa-solid fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete<%= element.idwithdrawal %>">
                          <i class="fa-solid fa-trash-alt"></i>
                        </button>
                      </td>
                      <% } %> 
                    </tr>

                    <!-- Edit Modal -->
                    <div class="modal fade" id="edit<%= element.idwithdrawal %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Editar Retirada de Item</h4>
                            <button type="button" class="close" onclick="$('#edit<%= element.idwithdrawal %>').modal('hide');">&times;</button>
                          </div>
                          <!-- Modal body -->
                          <form action="/itemsWithdrawal/update/<%= element.idwithdrawal %>?_method=put" method="post">
                            <div class="modal-body">
                              <input type="hidden" name="idwithdrawal" required value="<%= element.idwithdrawal %>"/>
                              <input type="hidden" name="iditems" required value="<%= element.iditems %>"/>
                              <div class="form-group">
                                <label for="amount">Quantidade</label>
                                <input type="number" name="amount" class="form-control" min="1" required value="<%= element.amount %>" />
                              </div>
                              <div class="form-group">
                                <label for="receiver"><Ri:type></Ri:type>Recebedor</label>
                                <input type="text" name="receiver" class="form-control" required value="<%= element.receiver %>" />
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Salvar</button>
                              <button type="button" class="btn btn-secondary" onclick="$('#edit<%= element.idwithdrawal %>').modal('hide');">Cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Delete Modal-->
                    <div class="modal fade" id="delete<%= element.idwithdrawal %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header-->
                          <div class="modal-header">
                            <h4 class="modal-title">Deletar Retirada de Item</h4>
                            <button type="button" class="close" onclick="$('#delete<%= element.idwithdrawal %>').modal('hide');">&times;</button>
                          </div>
                          <!-- Modal body-->
                          <form action="/itemsWithdrawal/delete/<%= element.idwithdrawal %>" method="post">
                            <div class="modal-body">
                              Você tem certeza que deseja deletar a retirada de item <%= element.nameitems_k %> na data <%= moment(element.date).locale('id').format('DD-MM-YYYY [jam] HH:mm:ss') %>?
                              <input type="hidden" name="idwithdrawal" required value="<%= element.idwithdrawal %>">
                              <input type="hidden" name="iditems" required value="<%= element.iditems %>">
                              <input type="hidden" name="amount" required value="<%= element.amount %>">
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-danger">Sim</button>
                              <button type="button" class="btn btn-secondary" onclick="$('#delete<%= element.idwithdrawal %>').modal('hide');">Cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Add Modal -->
    <div class="modal fade" id="add">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Withdrawal Items</h4>
            <button type="button" class="close" onclick="$('#add').modal('hide');stopScan();">&times;</button>
          </div>
          <!-- Modal body -->
          <form action="/itemsWithdrawal" method="post">
            <div class="modal-body">
              <div class="form-group">
                <div id="qrcode-reader"></div>
              </div>
              <div class="form-group">
                <label for="items">Item</label>
                <select class="form-control select2bs5" id="items" name="items" required>
                  <option value="" disabled selected>Item</option>
                  <% items.forEach((element)=> { %>
                  <% if(element.stock>0) { %> 
                  <option value="<%= element.iditems %>"><%= element.codeitems %> - <%= element.nameitems %></option>
                  <% } else { %> 
                  <option value="<%= element.iditems %>"><%= element.codeitems %> - <%= element.nameitems %> (Habis)</option>
                  <% } %> 
                  <% }) %> 
                </select>
              </div>
              <div class="form-group">
                <label for="amount">Quantidade</label>
                <input type="number" name="amount" class="form-control" min="1" required />
              </div>
              <div class="form-group">
                <label for="receiver">Recebedor</label>
                <input type="text" name="receiver" class="form-control" required />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-secondary" onclick="$('#add').modal('hide');stopScan();">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<%- include('./partials/footer') %> 