<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1>Detalhes do Item</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
              <h2><%= items.nameitems %></h2>
              <img src="/uploads/<%= items.image %>" class="img-detail">
              <img src="/uploads/<%= items.codeitems %>.png" class="img-detail">
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">Código</div>
              <div class="col-md-9">: <%= items.codeitems %></div>
            </div>
            <div class="row">
              <div class="col-md-3">Descrição</div>
              <div class="col-md-9">: <%= items.description %></div>
            </div>
            <div class="row">
              <div class="col-md-3">Quantidade</div>
              <div class="col-md-9">: <%= items.stock %></div>
            </div>
            <div class="row">
              <div class="col-md-3">Entrada</div>
              <div class="col-md-9">: <%= items.input %></div>
            </div>

            <br><br><br>

            <h3>Entrada</h3>
            <table id="detailItemsIncoming" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Data</th>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th>Informação</th>
                  <th>Entrada</th>
                </tr>
              </thead>
              <tbody>
                <% itemsi.forEach((element, index)=> { %>
                <tr>
                  <td><%= index+1%></td>
                  <td><%= moment(element.date).locale('id').format('DD-MM-YYYY HH:mm:ss') %></td>
                  <td><%= element.codeitems_m %></td>
                  <td><%= element.nameitems_m %></td>
                  <td><%= element.amount %></td>
                  <td><%= element.information %></td>
                  <td><%= element.input %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>

            <br><br>

            <h3>Retirada</h3>
            <table id="detailItemsWithdrawal" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Data</th>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th>Recebedor</th>
                  <th>Entrada</th>
                </tr>
              </thead>
              <tbody>
                <% itemsw.forEach((element, index)=> { %>
                <tr>
                  <td><%= index+1%></td>
                  <td><%= moment(element.date).locale('id').format('DD-MM-YYYY HH:mm:ss') %></td>
                  <td><%= element.codeitems_k %></td>
                  <td><%= element.nameitems_k %></td>
                  <td><%= element.amount %></td>
                  <td><%= element.receiver %></td>
                  <td><%= element.input %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
<%- include('./partials/footer') %> 