<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1>Registros da Aplicação</h1>
          </div>
          <div class="col-sm-6">
            <div id="bt" class="float-sm-right">
              <div class="dt-buttons btn-group flex-wrap">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#clearLog">
                  <i class="fa-solid fa-trash"></i>
                  Limpar Registros
                </button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="log" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Data</th>
                      <th>Usuário</th>
                      <th>Método</th>
                      <th>URL</th>
                      <th>Código de Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% log.forEach((element, index)=> { %>
                    <tr>
                      <td><%= index+1%></td>
                      <td><%= moment(element.date).locale('id').format('DD-MM-YYYY HH:mm:ss') %></td>
                      <td><%= element.usr %></td>
                      <td><%= element.method %></td>
                      <td><%= element.endpoint %></td>
                      <td><%= element.status_code %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Clear Log Modal-->
    <div class="modal fade" id="clearLog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header-->
          <div class="modal-header">
            <h4 class="modal-title">Limpar Registros</h4>
            <button type="button" class="close" onclick="$('#clearLog').modal('hide');">&times;</button>
          </div>
          <!-- Modal body-->
          <form action="/log/clear/" method="post">
            <div class="modal-body">
              Você tem certeza que deseja deletar todos os registros salvos?
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Sim</button>
              <button type="button" class="btn btn-secondary" onclick="$('#clearLog').modal('hide');">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<%- include('./partials/footer') %> 